@using EntityLayer.Concreate
@model List<Portföy>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AminLayout.cshtml";
}


<div class="card-header border-0">

    <h3 class="mb-0">Proje Paneli</h3>
</div>
<table class="table align-items-center table-flush">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Proje Adı</th>
            <th>Image Url</th>
            <th>Poject Url</th>
            <th>Platform Url</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <th>@item.PortföyID</th>
                <th scope="row">
                    <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                            <img alt="Image placeholder" src="@item.ImageUrl">
                        </a>
                    </div>
                </th>
                <td>@item.Name</td>
                <td>@item.ProjectUrl</td>
                <td>@item.ImageUrlTwo</td>
                <td><a href="/Portföy/DeletePortföy/@item.PortföyID" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="/Portföy/EditPortföy/@item.PortföyID" class="btn btn-outline-info">Güncelle</a></td>
            </tr>
        </tbody>
    }
</table>
<br />
<a href="/Portföy/AddPortföy/" class="btn btn-outline-primary">Yeni Proje Ekle</a>
