@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- partial -->
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold">Hoşgeldin @ViewBag.v1 </h3>
                    <h6 class="font-weight-normal mb-0">Asp.Net Kullanıcı Dashboard Paneli! yeni duyurular için <span class="text-primary">Hemen Tıklayın!</span></h6>
                </div>
                <div class="col-12 col-xl-4">
                    <div class="justify-content-end d-flex">
                        <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                            <button class="btn btn-sm btn-light bg-white dropdown-toggle" type="button" id="dropdownMenuDate2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <i class="mdi mdi-calendar"></i> @DateTime.Now.ToShortDateString();
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card tale-bg">
                <div class="card-people mt-auto">
                    <img src="~/skydash/images/dashboard/people.svg" alt="people">
                    <div class="weather-info">
                        <div class="d-flex">
                            <div>
                                <h2 class="mb-0 font-weight-normal"><i class="icon-sun mr-2"></i>34<sup>C</sup></h2>
                            </div>
                            <div class="ml-2">
                                <h4 class="location font-weight-normal">İzmir</h4>
                                <h6 class="font-weight-normal">Türkiye</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin transparent">
            <div class="row">
                <div class="col-md-6 mb-4 stretch-card transparent">
                    <div class="card card-tale">
                        <div class="card-body">
                            <p class="mb-4">Gelen Mesaj Sayısı</p>
                            <p class="fs-30 mb-2">@ViewBag.d1</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4 stretch-card transparent">
                    <div class="card card-dark-blue">
                        <div class="card-body">
                            <p class="mb-4">Duyuru Sayısı</p>
                            <p class="fs-30 mb-2">@ViewBag.d2</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                    <div class="card card-light-blue">
                        <div class="card-body">
                            <p class="mb-4">Toplam Kullanıcı Sayısı</p>
                            <p class="fs-30 mb-2">@ViewBag.d3</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 stretch-card transparent">
                    <div class="card card-light-danger">
                        <div class="card-body">
                            <p class="mb-4">Hizmet Sayısı</p>
                            <p class="fs-30 mb-2">@ViewBag.d4</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <p class="card-title">Kullanıcı Paneli</p>
                        <a href="/User/UDefault/Index/" class="text-info">Duyurular</a>
                    </div>
                    <p class="font-weight-500">Kullanıcılar için mesaj , duyuru dashboard gibi bilgileri barındıran sayfadır. Yardıma ihtiyacınız olursa iletişim bölümünden bana ulaşabilirsiniz</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <p class="card-title">Yardım Menüsü</p>
                        <a href="/User/UMessage/SendMessage/" class="text-info">İletişim</a>
                    </div>
                    <p class="font-weight-500">Uygulamayı kullanırken takıldığınız noktalar olursa bize hemen yazabilirsiniz , ekp arkadaşlarımız en kıssa sürede sizinle iletişime geçeceklerdiir  </p>
                </div>
            </div>
        </div>
    </div>

    @await Component.InvokeAsync("TopPuroducts")
    
    <div class="row">

        @await Component.InvokeAsync("CekipList")


        <div class="col-md-4 stretch-card grid-margin">
            <div class="row">
             
                @await Component.InvokeAsync("Charts")
                
                <div class="col-md-12 stretch-card grid-margin grid-margin-md-0">
                    <div class="card data-icon-card-primary">
                        <div class="card-body">
                            <p class="card-title text-white">Kullanıcı</p>
                            <div class="row">
                                <div class="col-8 text-white">
                                    <h3>@DateTime.Now.ToString("MM/dd/yyyy")</h3>
                                    <p class="text-white font-weight-500 mb-0">Merhaba kullanıcı arayüzünü beğendiyseniz veya düzeltilmesini istediğiniz bir yer var ise hemen bizimle iletişime geçebilirsiniz. </p>
                                </div>
                                <div class="col-4 background-icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        @await Component.InvokeAsync("MGorusuare")

    </div>
</div>