@model EntityLayer.Concreate.Hizmetler

@{
    ViewData["Title"] = "AddHizmetler";
    Layout = "~/Views/Shared/_AminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Hizmetler Hizmet Ekleme Paneli</h3>
</div>
@using (Html.BeginForm("AddHizmetler", "Hizmetler", FormMethod.Post))
{
    <br />
    @Html.Label("Hizmet Başlığı")
    @Html.TextBoxFor(x=>x.Tittle , new {@class = "form-control"})
    <br />
    @Html.Label("Icon ")
    @Html.TextBoxFor(x=>x.IconUrl , new {@class = "form-control"})
    <br />
    @Html.Label("Açıklama")
    @Html.TextAreaFor(x=>x.DescriptionTwo ,6,3, new {@class = "form-control"})
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>
}