@model EntityLayer.Concreate.WriterMessage

@{
    ViewData["Title"] = "AddAMessage";
    Layout = "~/Views/Shared/_AminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Mesaj Gönderme Paneli</h3>
</div>
@using (Html.BeginForm("AddAMessage", "AdminMesage", FormMethod.Post))
{
    <br />
    @Html.Label("Konu")
    @Html.TextBoxFor(x=>x.Subject , new {@class = "form-control"})
    <br />
    @Html.Label("Alıcı ")
    @Html.TextBoxFor(x=>x.Alici , new {@class = "form-control"})
    <br />
    @Html.Label("Mesaj")
    @Html.TextAreaFor(x=>x.MessageContent ,6,3, new {@class = "form-control"})
    <br />
    <button class="btn btn-outline-primary">Gönder</button>
}